In [1]:
import datetime as dt
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import plotly.offline as pyo
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import math

pyo.init_notebook_mode(connected=True)
pd.options.plotting.backend = 'plotly'

In [2]:
dataset = pd.read_csv(r"./Datasets/raw/GDAXI.csv")
df = dataset.reset_index(drop=True)
df.shape[0]

1520

In [3]:
df

            date     close      open      high       low     vol  return
0       2012/1/2   6075.52   5900.18   6075.52   5900.18   90.83  0.0300
1       2012/1/3   6166.57   6124.11   6179.03   6108.62  116.71  0.0150
2       2012/1/4   6111.55   6141.26   6163.48   6088.06  100.87 -0.0089
3       2012/1/5   6095.99   6121.34   6130.10   6040.94  141.74 -0.0025
4       2012/1/6   6057.92   6114.64   6152.56   6012.64  109.97 -0.0062
...          ...       ...       ...       ...       ...     ...     ...
1515  2017/12/21  13109.74  13065.79  13137.71  13013.63   72.54  0.0031
1516  2017/12/22  13072.79  13076.76  13108.56  13059.87   54.51 -0.0028
1517  2017/12/27  13070.02  13070.19  13128.74  13020.43   46.06 -0.0002
1518  2017/12/28  12979.94  13065.46  13069.40  12965.28   44.49 -0.0069
1519  2017/12/29  12917.64  12980.09  12980.74  12911.73   43.47 -0.0048

[1520 rows x 7 columns]

In [4]:
maxELevel = 21                           
maxTP = 1                
maxTS = 4096             
nTP = 0                    
p3 = 1.0 / 3.0          

stime = 0
etime = 0
Gstime = 0
Getime = 0
tlapse = 0
Gtlapse = 0

day = df.shape[0]

DT_DT= np.zeros((day,1))

DT_OP= np.zeros((day,1))
DT_HI= np.zeros((day,1))
DT_LO= np.zeros((day,1))
DT_CL= np.zeros((day,1))
DT_VL= np.zeros((day,1))
DT_RT= np.zeros((day,1))


Q= np.zeros((100,1))
NQ= np.zeros((100,1))
r= np.zeros((100,1))


QFEL = np.zeros((21,1))       
QPR = np.zeros((21,1))       
NQPR = np.zeros((21,1))      
K = np.zeros((21,1))


ALL_Pos_QPL = np.zeros((day,21))
ALL_Neg_QPL = np.zeros((day,21))

In [5]:
print("Printout ALL K values K0 .. K20 for first 20 Energy Levels")
for eL in range(0,21):    
    K[eL] = math.pow((1.1924 + (33.2383 * eL) + (56.2169 * eL * eL)) / (1 + (43.6106 * eL)), p3)
    print("Energy Level ",eL, " K",eL, " = ", K[eL])

Printout ALL K values K0 .. K20 for first 20 Energy Levels
Energy Level  0  K 0  =  [1.06041043]
Energy Level  1  K 1  =  [1.2665998]
Energy Level  2  K 2  =  [1.4911995]
Energy Level  3  K 3  =  [1.66349934]
Energy Level  4  K 4  =  [1.80609901]
Energy Level  5  K 5  =  [1.92919156]
Energy Level  6  K 6  =  [2.03832293]
Energy Level  7  K 7  =  [2.13688129]
Energy Level  8  K 8  =  [2.22710524]
Energy Level  9  K 9  =  [2.31055991]
Energy Level  10  K 10  =  [2.38838747]
Energy Level  11  K 11  =  [2.46144992]
Energy Level  12  K 12  =  [2.53041565]
Energy Level  13  K 13  =  [2.59581465]
Energy Level  14  K 14  =  [2.65807505]
Energy Level  15  K 15  =  [2.71754825]
Energy Level  16  K 16  =  [2.77452666]
Energy Level  17  K 17  =  [2.82925649]
Energy Level  18  K 18  =  [2.88194724]
Energy Level  19  K 19  =  [2.93277882]
Energy Level  20  K 20  =  [2.98190702]

In [6]:
DT_DT = df['date']     
DT_OP = df['open']
DT_HI = df['high']
DT_LO = df['low']
DT_CL = df['close']
TSsize = df.shape[0]

TSsize

1520

In [7]:
# Calculate return.

for d in range (0,TSsize - 2):
    if (DT_CL[d + 1] > 0):
        DT_RT[d] = DT_CL[d] / DT_CL[d + 1]          
    else:
        DT_RT[d] = 1     
        
DT_RT

array([[0.9852349 ],
       [1.00900263],
       [1.0025525 ],
       ...,
       [1.00693994],
       [0.        ],
       [0.        ]])

In [8]:
# Get the maximum time series number of the return.

maxRno = TSsize - 2

In [9]:
# Calculate mean.

mu = 0
for d in range(0,maxRno):
    mu = mu + DT_RT[d]

mu = mu / maxRno

In [10]:
mu

array([0.99956431])

In [11]:
# Calculate standard deviation.

In [12]:
sigma = 0
for d in range(0,maxRno):
    sigma = sigma + (DT_RT[d] - mu) * (DT_RT[d] - mu)
    
sigma = math.sqrt((sigma/ maxRno))
sigma

0.011351161572750375

In [13]:
dr = 3 * sigma/ 50
dr

0.0006810696943650226

In [14]:
# Loop over all r from (r-50*dr) to (r+50*dr) and get the distribution function.
# Reset all the Q[] first.
auxR = 0

In [15]:
# Loop over the maxRno to get the distribution.

tQno = 0
num = 0

In [16]:
for nR in range (0,maxRno):    
    bFound = False
    nQ = 0
    # Get the start position of the wave function.
    auxR = 1 - (dr * 50)
    # Get the total number of the returns in each range of each segment of the wave function.
    while((bFound == False) and (nQ < 100)):
        
        if ((DT_RT[nR] > auxR) and (DT_RT[nR] <= (auxR + dr))):
            
            Q[nQ] = Q[nQ] + 1
            tQno= tQno + 1
            bFound = True
        else:
            num = num+1
            nQ = nQ + 1
            auxR = auxR + dr

In [17]:
# Get the start position of the wave function.
auxR = 1 - (dr * 50)

In [18]:
# Normalize the wave function.
for nQ in range(0,100):
    r[nQ] = auxR
    NQ[nQ] = Q[nQ] / tQno        
    auxR = auxR + dr

In [19]:
# Find the max value and its corresponding return in the wave function.

maxQ = 0
maxQno = 0

In [20]:
for nQ in range(0,100):     
    if (NQ[nQ] > maxQ):
        maxQ = NQ[nQ]
        maxQno = nQ 
maxQno

47

In [21]:
dr

0.0006810696943650226

In [22]:
# Compute the lambda value.
for i in range(0,day):     
    r0 = r[maxQno] - (dr / 2)
    r1 = r0 + dr
    rn1 = r0 - dr

rn1

array([0.99693519])

In [23]:
for i in range(0,day):  
    Lup = (pow(rn1, 2) * NQ[maxQno - 1]) - (pow(r1, 2) * NQ[maxQno + 1])
    Ldw = (pow(rn1, 4) * NQ[maxQno - 1]) - (pow(r1, 4) * NQ[maxQno + 1])

In [24]:
L = abs(Lup / Ldw)

In [25]:
# Use the Cardano's to compute the 21 Quantum Finance Energy Level. 
for eL in range(0,21):
    p = -1 * pow((2 * eL + 1), 2)
    q = -1 * L * pow((2 * eL + 1), 3) * pow(K[eL], 3)
    u = pow((-0.5 * q + np.sqrt(((q * q / 4.0) + (p * p * p / 27.0)))), p3)
    v = pow((-0.5 * q - np.sqrt(((q * q / 4.0) + (p * p * p / 27.0)))), p3)
    QFEL[eL] = u + v
        
QFEL

array([[  1.35184791],
       [  4.51625471],
       [  8.4328023 ],
       [ 12.82550332],
       [ 17.60360166],
       [ 22.7105993 ],
       [ 28.1071934 ],
       [ 33.76414249],
       [ 39.65867318],
       [ 45.77244929],
       [ 52.09032807],
       [ 58.59955151],
       [ 65.2891954 ],
       [ 72.14977986],
       [ 79.17298544],
       [ 86.35144082],
       [ 93.67856056],
       [101.1484188 ],
       [108.75564931],
       [116.49536532],
       [124.3630943 ]])

In [26]:
# Evaluate all QPR values.
for eL in range(0,21):
# Compute the QPR.  
    QPR[eL] = QFEL[eL] / QFEL[0]
#Compute the NQPR.
    NQPR[eL] = 1 + 0.21 * sigma * QPR[eL]         

NQPR

array([[1.00238374],
       [1.00796361],
       [1.01486975],
       [1.0226155 ],
       [1.03104083],
       [1.04004611],
       [1.04956205],
       [1.05953707],
       [1.06993103],
       [1.08071159],
       [1.09185205],
       [1.10332991],
       [1.11512591],
       [1.12722334],
       [1.13960751],
       [1.15226544],
       [1.16518552],
       [1.17835729],
       [1.19177129],
       [1.20541891],
       [1.21929225]])

In [27]:
QPLdata = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "QPLp1", "QPLp2", "QPLp3", "QPLp4", "QPLp5", "QPLp6", "QPLp7", "QPLp8",
      "QPLp9", "QPLp10", "QPLp11", "QPLp12", "QPLp13", "QPLp14", "QPLp15", "QPLp16", "QPLp17", "QPLp18", "QPLp19", "QPLp20", "QPLp21", "QPLn1", "QPLn2",
      "QPLn3", "QPLn4", "QPLn5", "QPLn6", "QPLn7", "QPLn8", "QPLn9", "QPLn10", "QPLn11", "QPLn12", "QPLn13", "QPLn14", "QPLn15", "QPLn16",
      "QPLn17", "QPLn18", "QPLn19", "QPLn20", "QPLn21"])

In [28]:
DT_DT

0         2012/1/2
1         2012/1/3
2         2012/1/4
3         2012/1/5
4         2012/1/6
           ...
1515    2017/12/21
1516    2017/12/22
1517    2017/12/27
1518    2017/12/28
1519    2017/12/29
Name: date, Length: 1520, dtype: object

In [29]:
for d in range(0,TSsize):
    for eL in range(0,21):
        ALL_Pos_QPL[d][eL] = DT_OP[d] * NQPR[eL]
        ALL_Neg_QPL[d][eL] = DT_OP[d] / NQPR[eL]      
ALL_Pos_QPL.shape

(1520, 21)

In [30]:
print(DT_OP[d], DT_HI[d], DT_LO[d], DT_CL[d],
             ALL_Pos_QPL[0], ALL_Pos_QPL[1], ALL_Pos_QPL[2], ALL_Pos_QPL[3], ALL_Pos_QPL[4],
             ALL_Pos_QPL[5], ALL_Pos_QPL[6], ALL_Pos_QPL[7], ALL_Pos_QPL[8], ALL_Pos_QPL[9],
             ALL_Pos_QPL[10], ALL_Pos_QPL[11], ALL_Pos_QPL[12], ALL_Pos_QPL[13], ALL_Pos_QPL[14],
             ALL_Pos_QPL[15], ALL_Pos_QPL[16], ALL_Pos_QPL[17], ALL_Pos_QPL[18], ALL_Pos_QPL[19], ALL_Pos_QPL[20],
             ALL_Neg_QPL[0], ALL_Neg_QPL[1], ALL_Neg_QPL[2], ALL_Neg_QPL[3], ALL_Neg_QPL[4],
             ALL_Neg_QPL[5], ALL_Neg_QPL[6], ALL_Neg_QPL[7], ALL_Neg_QPL[8], ALL_Neg_QPL[9],
             ALL_Neg_QPL[10], ALL_Neg_QPL[11], ALL_Neg_QPL[12], ALL_Neg_QPL[13], ALL_Neg_QPL[14],
             ALL_Neg_QPL[15], ALL_Neg_QPL[16], ALL_Neg_QPL[17], ALL_Neg_QPL[18], ALL_Neg_QPL[19], ALL_Neg_QPL[20])

12980.09 12980.74 12911.73 12917.64 [5914.24451826 5947.16675535 5987.91420531 6033.61551787 6083.32647349
 6136.45927137 6192.60500768 6251.45945674 6312.78568587 6376.39292688
 6442.12363599 6509.84507967 6579.44360334 6650.82057915 6723.88945221
 6798.57353184 6874.80430364 6952.52011542 7031.6651375  7112.18852818
 7194.04375559] [6138.70831004 6172.88004741 6215.17398857 6262.60980667 6314.20744614
 6369.35679732 6427.63343721 6488.72159386 6552.37534222 6618.39667391
 6686.62206583 6756.91374685 6829.15374881 6903.23970065 6979.08176245
 7056.60033289 7135.72429722 7216.38966338 7298.53848276 7382.11798408
 7467.07986943] [6155.89919125 6190.16662338 6232.57900479 6280.14766249 6331.88979635
 6387.19358815 6445.63342635 6506.89265469 6570.72465945 6636.93087773
 6705.34732851 6775.83585484 6848.2781582  6922.57158085 6998.62603129
 7076.36168527 7155.70722889 7236.5984909  7318.97736041 7402.79091834
 7487.99073154] [6135.93170707 6170.08798819 6212.36279936 6259.77716174 6311.35146305
 6366.47586959 6424.72615034 6485.78667616 6549.41163326 6615.40310279
 6683.59763565 6753.85752299 6826.06485004 6900.11729201 6975.92504964
 7053.40855761 7132.49673333 7213.12561368 7295.23727628 7378.77897371
 7463.7024299 ] [6129.21573599 6163.33463198 6205.56317203 6252.92563789 6304.4434895
 6359.50756064 6417.69408461 6478.68777776 6542.24309533 6608.16233512
 6676.28222691 6746.46521258 6818.59350643 6892.56489566 6968.28967931
 7045.68837913 7124.68999034 7205.23061984 7287.25240863 7370.70266703
 7455.53317181] [6075.70849173 6109.52953427 6151.38942474 6198.33842253 6249.40653009
 6303.98989916 6361.66846246 6422.12968872 6485.13017676 6550.47395029
 6617.99916441 6687.56946188 6759.06808524 6832.39371402 6907.4574303
 6984.18044968 7062.49238726 7142.3299077  7223.6356571  7306.35740576
 7390.44735144] [6105.38907439 6139.37533688 6181.43971806 6228.61806747 6279.93564902
 6334.78566454 6392.74599472 6453.5025815  6516.81083466 6582.47382056
 6650.32890365 6720.23906058 6792.0869635  6865.77079698 6941.20120874
 7018.2990295  7096.99353052 7177.22106706 7258.92400504 7342.0498596
 7426.550595  ] [6163.10633037 6197.41388177 6239.8759183  6287.50026793 6339.3029799
 6394.67151969 6453.17977747 6514.51072625 6578.41746358 6644.70119408
 6713.19774476 6783.7687969  6856.29591351 6930.67631663 7006.8198093
 7084.64647381 7164.08491278 7245.07087982 7327.54619599 7411.45788028
 7496.75744283] [6174.77407715 6209.14657823 6251.6890022  6299.40351234 6351.30429514
 6406.77765644 6465.39667972 6526.8437378  6590.87146081 6657.28067702
 6725.90690264 6796.61155708 6869.27597913 6943.79719626 7020.08484075
 7098.05884359 7177.64767224 7258.78695867 7341.41841382 7425.48895636
 7510.95000464] [6257.37049765 6292.20278002 6335.31426965 6383.6670295  6436.26205938
 6492.4774561  6551.88059252 6614.14959275 6679.03377798 6746.33131229
 6815.87551167 6887.52594182 6961.16235427 7036.68039909 7113.98849977
 7193.00551624 7273.65895912 7355.88359937 7439.62036823 7524.81547432
 7611.41968615] [6134.98946635 6169.1405024  6211.40882179 6258.81590317 6310.38228467
 6365.49822624 6423.73956201 6484.79071131 6548.40589809 6614.3872339
 6682.57129472 6752.82039288 6825.01663168 6899.05770207 6974.85381858
 7052.32542809 7131.40145894 7212.01795783 7294.11701127 7377.64587993
 7462.55629518] [6316.93213971 6352.09597795 6395.61783023 6444.43084248 6497.52650539
 6554.2769961  6614.24556945 6677.10728572 6742.60908    6810.54719515
 6880.75336055 6953.08580519 7027.42313596 7103.66000968 7181.70397815
 7261.47312897 7342.89428274 7425.90158954 7510.43541835 7596.44146579
 7683.87003172] [6345.52012409 6380.84310022 6424.56191552 6473.59583653 6526.93178981
 6583.93911123 6644.17907907 6707.32528309 6773.12351308 6841.36908978
 6911.89298106 6984.55277427 7059.22652697 7135.80841921 7214.2055844
 7294.33573945 7376.12537378 7459.50833945 7544.42473558 7630.82001302
 7718.64424673] [6392.44170714 6428.02587699 6472.06796855 6521.46446806 6575.19481098
 6632.62366975 6693.30907856 6756.92221355 6823.20698476 6891.95719945
 6963.00257558 7036.19964745 7111.42557091 7188.57374354 7267.55061205
 7348.27328492 7430.66770799 7514.6672442  7600.21154973 7687.24567207
 7775.71931702] [6426.0315864  6461.80273769 6506.07625389 6555.73231345 6609.74498913
 6667.47561497 6728.47990281 6792.42730092 6859.06037369 6928.17184493
 6999.59053782 7073.1722328  7148.79344022 7226.34699751 7305.73885979
 7386.88569997 7469.71307478 7554.15399699 7640.1478057  7727.63925965
 7816.57780036] [6402.55575912 6438.19622985 6482.30800433 6531.78265845 6585.59801293
 6643.11773502 6703.89915963 6767.61294263 6834.00258889 6902.86157942
 6974.01936277 7047.33224626 7122.67719136 7199.94742699 7279.04925185
 7359.89964326 7442.42442989 7526.55686926 7612.23652206 7699.40834885
 7788.02197583] [6387.68038436 6423.23804982 6467.24733723 6516.60704444 6570.29736704
 6627.68345071 6688.32365883 6751.88941244 6818.12481235 6886.82381938
 6957.81627833 7030.95883037 7106.12872283 7183.2194327  7262.13747637
 7342.80002406 7425.13307677 7509.07004707 7594.55063609 7681.51993226
 7769.92767882] [6464.24245472 6500.22631065 6544.76308879 6594.71441629 6649.0482655
 6707.12217278 6768.4892081  6832.8168542  6899.8461447  6969.36857086
 7041.21193801 7115.23116904 7191.30203999 7269.31675106 7349.18069816
 7430.81005873 7514.12994682 7599.07297688 7685.57812732 7773.5898284
 7863.05722098] [6469.0037775  6505.01413782 6549.5837201  6599.57183991 6653.94570943
 6712.06239181 6773.47462783 6837.8496553  6904.92831711 6974.50195092
 7046.39823525 7120.47198612 7196.59888807 7274.6710619  7354.59383385
 7436.28331959 7519.66457804 7604.67017401 7691.23904096 7779.31556821
 7868.84885918] [6523.28285724 6559.59536751 6604.5389171  6654.94646921 6709.77657028
 6768.3808888  6830.30841276 6895.22358789 6962.86508258 7033.02248368
 7105.52202383 7180.21730085 7256.9829562  7335.71020551 7416.30358064
 7498.67849342 7582.75937397 7668.47822127 7755.77345638 7844.58900203
 7934.87353459] [6469.92597055 6505.94146434 6550.51740027 6600.51264617 6654.89426699
 6713.01923423 6774.44022492 6838.82442941 6905.91265366 6975.49620559
 7047.40273914 7121.48704964 7197.62480391 7275.70810737 7355.64227276
 7437.3434038  7520.73654872 7605.75426272 7692.33547055 7780.4245536
 7869.97060805] [5886.14892822 5853.56447271 5813.73126581 5769.69545529 5722.54738983
 5672.99846587 5621.56378281 5568.63949503 5514.54235336 5459.53243967
 5403.82737114 5347.61174903 5291.04376162 5234.25998614 5177.37899765
 5120.50415714 5063.72581602 5007.12309414 4950.76533818 4894.71333535
 4839.02033614] [6109.54640584 6075.7252699  6034.38027014 5988.673165   5939.73568528
 5888.30622707 5834.9194394  5779.98651192 5723.83621714 5666.73850783
 5608.9192604  5550.57008232 5491.8551656  5432.91627098 5373.87647382
 5314.84305797 5255.90980396 5197.15883448 5138.66212813 5080.4827792
 5022.67605917] [6126.65562185 6092.73977297 6051.27899038 6005.44388675 5956.36936217
 5904.79588056 5851.25958815 5796.17282612 5739.86528767 5682.60768154
 5624.62651669 5566.11393717 5507.23459479 5448.13064728 5388.92551466
 5329.72678123 5270.62849013 5211.71299403 5153.0524731  5094.71019831
 5036.74159594] [6106.78299311 6072.97715483 6031.65085585 5985.96442452 5937.04907974
 5885.64288362 5832.28024336 5777.37216263 5721.24726522 5664.17538181
 5606.38228665 5548.05950052 5489.37114118 5430.45890524 5371.44581241
 5312.439098   5253.53250013 5194.80810434 5136.33785667 5078.18482287
 5020.40424944] [6100.09892621 6066.33008949 6025.04902345 5979.41259737 5930.55079197
 5879.20086156 5825.89662839 5771.04864629 5714.98517936 5657.97576293
 5600.24592413 5541.98697414 5483.36285106 5424.51509642 5365.56659529
 5306.62446559 5247.78234285 5189.12222277 5130.71597264 5072.62658917
 5014.9092584 ] [6046.84586787 6013.37182863 5972.45114085 5927.21311474 5878.77786646
 5827.87621416 5775.03731991 5720.66815345 5665.09411319 5608.58238143
 5551.35651651 5493.60615946 5435.49381723 5377.15979573 5318.72590722
 5260.29833454 5201.96989576 5143.82187079 5085.92549951 5028.34322869
 4971.12976259] [6076.38545306 6042.74788903 6001.62729866 5956.16827923 5907.49641881
 5856.34610569 5803.24908694 5748.61432043 5692.76879414 5635.98099563
 5578.47557533 5520.44310068 5462.04687253 5403.42788216 5344.70853693
 5285.99553837 5227.382158   5168.95007278 5110.77087061 5052.90730332
 4995.41434241] [6133.82852349 6099.87296697 6058.36364336 6012.47487739 5963.34289785
 5911.70903557 5858.11006451 5802.95880858 5746.58534698 5689.26070538
 5631.21165796 5572.63057369 5513.68229717 5454.50915256 5395.23470438
 5335.96666287 5276.79918129 5217.81470873 5159.08550985 5100.6749297
 5042.63845947] [6145.44084269 6111.42100287 6069.83309547 6023.85745472 5974.63246047
 5922.90084703 5869.20040454 5813.94473846 5757.46455286 5700.03138655
 5641.87244299 5583.18045535 5524.12058031 5464.83541146 5405.44874726
 5346.06850186 5286.78900677 5227.69286716 5168.85248451 5110.33132378
 5052.18498122] [6227.6448893  6193.16998554 6151.02578049 6104.43514989 6054.55170106
 6002.12810342 5947.70934082 5891.71455131 5834.47886258 5776.27744566
 5717.34054318 5657.8634664  5598.01358119 5537.93538856 5477.75434292
 5417.57980195 5357.50735897 5297.6207241  5237.99326731 5178.68930249
 5119.76516957] [6105.8452285  6072.04458148 6030.72462862 5985.04521295 5936.13737966
 5884.73907754 5831.38463171 5776.48498273 5720.36870392 5663.30558453
 5605.52136415 5547.20753413 5488.52818704 5429.62499774 5370.62096702
 5311.62331375 5252.72576165 5194.01038364 5135.54911473 5077.40501098
 5019.6333104 ] [6286.92358407 6252.12052619 6209.57516573 6162.54105581 6112.1827845
 6059.26018563 6004.32343056 5947.79564693 5890.01515243 5831.25973731
 5771.76183582 5711.7186183  5651.29904372 5590.64898854 5529.89510135
 5469.14778073 5408.50352993 5348.04685589 5287.85182695 5227.98336918
 5168.49835879] [6315.37576136 6280.41519835 6237.67729409 6190.43032603 6139.84415273
 6086.6820467  6031.49666919 5974.71306274 5916.67107613 5857.6497568
 5797.88259088 5737.56764105 5676.87463092 5615.95009712 5554.9212614
 5493.89902197 5432.98031882 5372.25004133 5311.78259303 5251.64319385
 5191.88897738] [6362.07444366 6326.85536678 6283.80143955 6236.2051065  6185.24487666
 6131.6896665  6076.09622389 6018.89273434 5960.4215596  5900.96381052
 5840.75469974 5779.99375449 5718.85195339 5657.47691663 5595.9968067
 5534.52334184 5473.15417885 5411.97483481 5351.06026345 5290.47616695
 5230.28010137] [6395.50475436 6360.10061446 6316.82045502 6268.97402113 6217.74601442
 6163.90939177 6108.0238265  6050.5197541  5991.74133532 5931.9711581
 5871.44567107 5810.36544988 5748.90237159 5687.20483208 5625.40166727
 5563.60518245 5501.91354756 5440.41272906 5379.17807452 5318.27563135
 5257.76325806] [6372.14044888 6336.86564876 6293.74360207 6246.07196262 6195.03110405
 6141.39115943 6085.70975747 6028.41576118 5969.85207399 5910.3002515
 5849.99587851 5789.13879795 5727.90025896 5666.42811529 5604.85073219
 5543.28000468 5481.81374406 5420.53760273 5359.526653   5298.846701
 5238.55539385] [6357.33573952 6322.14289508 6279.12103598 6231.56015441 6180.6378816
 6127.12256131 6071.57052671 6014.4096444  5955.98202112 5896.56855833
 5836.40429348 5775.68860519 5714.59234472 5653.26302232 5591.82870501
 5530.40102782 5469.0775748  5407.94379937 5347.0745994  5286.53562813
 5226.38439876] [6433.53410213 6397.91943994 6354.38192532 6306.250984   6254.71836213
 6200.5616128  6144.34373732 6086.49773063 6027.36979996 5967.2442136
 5906.35882616 5844.91540596 5783.0868521  5721.02244284 5658.85178021
 5596.68783729 5534.62936777 5472.76284929 5411.16407744 5349.89949238
 5289.02729665] [6438.27280628 6402.63191163 6359.06232889 6310.89593608 6259.32535719
 6205.12871799 6148.86943449 6090.98082057 6031.80933844 5971.6394658
 5910.70923242 5849.22055526 5787.34646076 5725.23633715 5663.0198819
 5600.81015131 5538.70597181 5476.79388473 5415.14974149 5353.8400312
 5292.92299926] [6492.2940335  6456.35408896 6412.41892954 6363.84838989 6311.84510085
 6257.19371719 6200.46238231 6142.08804588 6082.42007717 6021.74534081
 5960.30386379 5898.2992573  5835.90599957 5773.27473229 5710.53624119
 5647.80453116 5585.17925787 5522.74768877 5460.58631174 5398.76217376
 5337.33400895] [6439.19061845 6403.54464299 6359.96884916 6311.79558996 6260.21765939
 6206.01329416 6149.74599058 6091.84912431 6032.66920695 5972.49075675
 5911.55183742 5850.05439471 5788.17147971 5726.05250194 5663.82717739
 5601.60857845 5539.49554565 5477.57463265 5415.92170169 5354.60325135
 5293.67753534]

In [31]:
QPLdata.Date= DT_DT

In [32]:
QPLdata

,Date,Open,High,Low,Close,QPLp1,QPLp2,QPLp3,QPLp4,QPLp5,...,QPLn12,QPLn13,QPLn14,QPLn15,QPLn16,QPLn17,QPLn18,QPLn19,QPLn20,QPLn21
0,2012/1/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012/1/3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012/1/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012/1/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012/1/6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,2017/12/21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,2017/12/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517,2017/12/27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1518,2017/12/28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,2017/12/29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
QPLdata.Open= DT_OP

In [34]:
QPLdata

,Date,Open,High,Low,Close,QPLp1,QPLp2,QPLp3,QPLp4,QPLp5,...,QPLn12,QPLn13,QPLn14,QPLn15,QPLn16,QPLn17,QPLn18,QPLn19,QPLn20,QPLn21
0,2012/1/2,5900.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012/1/3,6124.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012/1/4,6141.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012/1/5,6121.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012/1/6,6114.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,2017/12/21,13065.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,2017/12/22,13076.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517,2017/12/27,13070.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1518,2017/12/28,13065.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,2017/12/29,12980.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
QPLdata.High= DT_HI
QPLdata.Low = DT_LO
QPLdata.Close = DT_CL

qplv = QPLdata.values
qplv

array([['2012/1/2', 5900.18, 6075.52, ..., nan, nan, nan],
       ['2012/1/3', 6124.11, 6179.03, ..., nan, nan, nan],
       ['2012/1/4', 6141.26, 6163.48, ..., nan, nan, nan],
       ...,
       ['2017/12/27', 13070.19, 13128.74, ..., nan, nan, nan],
       ['2017/12/28', 13065.46, 13069.4, ..., nan, nan, nan],
       ['2017/12/29', 12980.09, 12980.74, ..., nan, nan, nan]],
      dtype=object)

In [36]:
for d in range(0,TSsize - 2):
    for eL in range(0,21):
        qplv[d][eL+5] = ALL_Pos_QPL[d][eL]
        qplv[d][eL+26] = ALL_Neg_QPL[d][eL]

In [37]:
qplv

array([['2012/1/2', 5900.18, 6075.52, ..., 4950.765338176178,
        4894.7133353501, 4839.020336144504],
       ['2012/1/3', 6124.11, 6179.03, ..., 5138.662128134753,
        5080.482779195024, 5022.676059168689],
       ['2012/1/4', 6141.26, 6163.48, ..., 5153.052473098759,
        5094.710198307875, 5036.74159594297],
       ...,
       ['2017/12/27', 13070.19, 13128.74, ..., 10967.028737322744,
        10842.861283648892, 10719.489101565126],
       ['2017/12/28', 13065.46, 13069.4, ..., nan, nan, nan],
       ['2017/12/29', 12980.09, 12980.74, ..., nan, nan, nan]],
      dtype=object)

In [38]:
QPLdata = pd.DataFrame(qplv,columns=["Date", "Open", "High", "Low", "Close", "QPLp1", "QPLp2", "QPLp3", "QPLp4", "QPLp5", "QPLp6", "QPLp7", "QPLp8",
      "QPLp9", "QPLp10", "QPLp11", "QPLp12", "QPLp13", "QPLp14", "QPLp15", "QPLp16", "QPLp17", "QPLp18", "QPLp19", "QPLp20", "QPLp21", "QPLn1", "QPLn2",
      "QPLn3", "QPLn4", "QPLn5", "QPLn6", "QPLn7", "QPLn8", "QPLn9", "QPLn10", "QPLn11", "QPLn12", "QPLn13", "QPLn14", "QPLn15", "QPLn16",
      "QPLn17", "QPLn18", "QPLn19", "QPLn20", "QPLn21"])

In [39]:
QPLdata

,Date,Open,High,Low,Close,QPLp1,QPLp2,QPLp3,QPLp4,QPLp5,...,QPLn12,QPLn13,QPLn14,QPLn15,QPLn16,QPLn17,QPLn18,QPLn19,QPLn20,QPLn21
0,2012/1/2,5900.18,6075.52,5900.18,6075.52,5914.244518,5947.166755,5987.914205,6033.615518,6083.326473,...,5347.611749,5291.043762,5234.259986,5177.378998,5120.504157,5063.725816,5007.123094,4950.765338,4894.713335,4839.020336
1,2012/1/3,6124.11,6179.03,6108.62,6166.57,6138.70831,6172.880047,6215.173989,6262.609807,6314.207446,...,5550.570082,5491.855166,5432.916271,5373.876474,5314.843058,5255.909804,5197.158834,5138.662128,5080.482779,5022.676059
2,2012/1/4,6141.26,6163.48,6088.06,6111.55,6155.899191,6190.166623,6232.579005,6280.147662,6331.889796,...,5566.113937,5507.234595,5448.130647,5388.925515,5329.726781,5270.62849,5211.712994,5153.052473,5094.710198,5036.741596
3,2012/1/5,6121.34,6130.1,6040.94,6095.99,6135.931707,6170.087988,6212.362799,6259.777162,6311.351463,...,5548.059501,5489.371141,5430.458905,5371.445812,5312.439098,5253.5325,5194.808104,5136.337857,5078.184823,5020.404249
4,2012/1/6,6114.64,6152.56,6012.64,6057.92,6129.215736,6163.334632,6205.563172,6252.925638,6304.44349,...,5541.986974,5483.362851,5424.515096,5365.566595,5306.624466,5247.782343,5189.122223,5130.715973,5072.626589,5014.909258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,2017/12/21,13065.79,13137.71,13013.63,13109.74,13096.935498,13169.840907,13260.075039,13361.279367,13471.362942,...,11842.142462,11716.874175,11591.128031,11465.166611,11339.218805,11213.484695,11088.139489,10963.336754,10839.2111,10715.880451
1516,2017/12/22,13076.76,13108.56,13059.87,13072.79,13107.931647,13180.898267,13271.20816,13372.497459,13482.67346,...,11852.085092,11726.711629,11600.859909,11474.792732,11348.739181,11222.899505,11097.44906,10972.54154,10848.311671,10724.877473
1517,2017/12/27,13070.19,13128.74,13020.43,13070.02,13101.345986,13174.275947,13264.540466,13365.778875,13475.899522,...,11846.13039,11720.819918,11595.031428,11469.027589,11343.03737,11217.260918,11091.873501,10967.028737,10842.861284,10719.489102
1518,2017/12/28,13065.46,13069.4,12965.28,12979.94,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,2017/12/29,12980.09,12980.74,12911.73,12917.64,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df1 = pd.DataFrame(QPLdata)
df1.to_csv("./Datasets/NASDAQ/NASDAQ_QPL.csv",index = True)

In [ ]:
qplp1 = cQHLdata["QPLp1"]
qpln21 = cQHLdata["QPLn21"]

plt.figure(figsize=(24, 16), dpi=400)
plt.plot(qhlp21,color='b')
plt.xticks(fontsize=25)
plt.yticks(fontsize=25)
plt.xlabel('Days', fontsize=35)
plt.ylabel('Energy Level', fontsize=35)
plt.title('NASDAQ_QPLp1', fontsize=40)
plt.legend(['Energy Level'],fontsize=40)
plt.savefig('./pic/NASDAQ_pic/NASDAQ_QPLp1.png')
plt.show()